<nav class='nav'>
  <ul class='nav--list'>
    <li class='nav--item'>
      <a class='nav--link' href="/mvc">Главная</a>
    </li>
    <li class='nav--item'>
      <a class='nav--link' href="registration">Регистрация</a>
    </li>
    <li class='nav--item'>
      <a class='nav--link' href="authorization">Авторизация</a>
    </li>
  </ul>
</nav>
